.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    background-color:#fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
}
.navbar.active{
    background-color: #202020b1;
}
.navbar.navbar.active a{
  color: #fff;
}
 /* keyframes */
 @keyframes dropHeader {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
  
}
.navbar ul {
    list-style: none;
    display: inline-flex;
    padding: 10px;
    text-align: center;
    gap:1rem;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navbar ul li{
    padding: 0.2rem;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    padding:10px;
}
.navbar a:hover{
  color: #217dbb;
  text-decoration: none;
  background: #eee;
  border-radius: 4px
}
.navbar.navbar.active a:hover{
  color: #217dbb;
}

/* Navbar hamgurger */
#hamburger{
    display:block;
    position: fixed;
    z-index: 999;
}
#hamburger:checked ~ #navbar ul{
    display: block;

}
#checkbox2 {
    display: none;
  }
  
  .toggle2 {
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    z-index: 999;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 6px;
    background-color:#EEE9DA;
    border-radius: 6px;
    
  }
  
  #bar5 {
    transition-duration: .8s;
  }
  
  #bar4,#bar6 {
    width: 80%;
  }
  
  #checkbox2:checked + .toggle2 .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 #bar5 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 #bar4 {
    width: 70%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 #bar6 {
    width: 70%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox2:checked + .toggle2 {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
  /*.......................... hamburger menu .............................. */
  .sidebar{
    display: none;
    position:fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60vw;
    background-color:#ffffff;
    z-index: 10;
  }
  .sidebar>ul{
    height:100vh;
    list-style: none;
    display: flex;
    padding:2rem;
    text-align: center;
    gap: 2.5rem;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  .sidebar li>a{
    width:100vh;
    text-decoration: none;
    color: #000;
    padding: 0rem 5rem;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 500;
}
  .sidebar.active{
    display: block!important;
    background-color:#93bfcf;
    animation-name: dropMenu;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
    z-index: 10;
  }
  .sidebar.active a{
    color: #000;
  }
  .sidebar.active a:hover {
    color:#217dbb;
  }
  .sidebar.active li:hover{
    background-color:#eeeeee34;
    border-radius: 6px;
  }
  /* keyframes */
  @keyframes dropMenu {
   0% {
       transform: translateX(100%);
   }
   100% {
       transform: translateX(0);
   }
   }
  


 /* media query */

 /* ............Mobile.................. */

@media (max-width:480px){
  .navbar{
    display: none;
}
#hamburger{
    display: block;
    position:fixed;
    top: 0;
    right:0;
    margin: 20px;
    z-index: 999;
}
.sidebar li>a{
  padding: 0rem 2.4rem;
  font-size: 1.4rem;
}
.sidebar.sidebar.active{
 display:block!important ;


}
}
 /*............Extra small devices.............. */
 @media (min-width: 481px) and (max-width: 767px){
  .navbar{
    display: none;
}
    #hamburger{
        display: block;
        position: fixed;
        top: 0;
        right:0;
        margin: 20px;
        z-index: 999;
    }
    .sidebar li>a{
      padding: 0rem 4rem;
      font-size: 1.8rem;
    }
    .sidebar.sidebar.active{
      display:block!important ;
    }
 }
/* ............Tablet.................. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
#hamburger{
  display: none;
}
}
/* ............Large Tablets / Laptops .............. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
#hamburger{
    display: none;
}
}
/* ............Desktops.............. */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
#hamburger{
    display: none;
}
}
/* ............Large Desktops.............. */
@media (min-width: 1920px) {
#hamburger{
    display: none;
}
}
