@font-face {
  font-family:Amethysta-Regular;
  src: url(./Amethysta-Regular.ttf);
}
.navbar{
  width: 100%;
  height: 5rem;
  background-color:#217dbb48;
}

.navbar>.container-fluid{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-between;
  align-items: center;

}
.navbar-brand>img{
  max-width: 100%;
  mix-blend-mode:darken;
}
.navbar-toggler{
  border: 0px;
  outline: none;
  cursor: pointer;
}
.navbar-items{
  text-align: center;
}
.navbar-items ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
}
.navbar-items ul li{
 font-family:Amethysta-Regular;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.navbar-items a {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  padding:10px;
}
.navbar-items a:hover{
color: #217dbb;
text-decoration: none;
background: #eee;
border-radius: 4px
}

.navbar-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2rem;
  gap: 2.5rem;
}
.navbar-nav li{
  width: 100%;
  text-align: center;
}
.navbar-nav li>a{
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  padding: 0rem 3rem 0rem 3rem;
  letter-spacing: 2px;
  font-weight: 500;
}
.navbar-nav a:hover {
  color:#217dbb;
}
.navbar-nav li:hover{
  background-color:#eeeeee75;
  border-radius: 6px;
}
.fadeOffcanvas {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.fadeOffcanvas.show {
  opacity: 1;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}

/* media queries */
/* ............Mobile.................. */

@media (max-width:480px){
  .navbar-brand>img{
      height: 4rem;
  }
  .navbar-items{
      display: none;
  }
}

/*............Extra small devices.............. */
@media (min-width: 481px) and (max-width: 767px){
  .navbar-brand>img{
      height: 5rem;
  }
  .navbar-items{
      display: none;
  }
}

/* ............Tablet.................. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-brand>img{
      height: 5.7rem;
  }
  .navbar-items{
      display: none;
  }
}

/* ............Large Tablets / Laptops .............. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-items ul {
      gap: 0rem;
      
  }
  .navbar-items ul li{
      font-size: 1.1rem;
  }
  .navbar-brand>img{
      height: 6rem;
  }
  .navbar-toggler{
      display: none;
  }
}
/* ............Desktops.............. */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .navbar-toggler{
      display: none;
  }
}
/* ............Large Desktops.............. */
@media (min-width: 1920px) {
  .navbar-toggler{
      display: none;
  }
}
