#experience{
    height: fit-content;
    display: grid;
    grid-template-rows: 2rem 0.2fr auto 3rem;
    gap:1rem;
    background-color: #bdcdd682;
    border-bottom: 1px solid #dcd9d9;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#experience>div:nth-child(1){
    grid-area: 2/1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#experience>div:nth-child(1)>hr{
    width: 70px;
    height: 2px;
    background-color: #3498db;
    border: none;
}
.heading{
    font-size: 2.5em;
    font-weight: 350;
}

#experience>div:nth-child(2){
    grid-area: 3/1;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db4c;
    border-bottom: 1px solid #dcd9d9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    gap: 1rem;
}

/* ............Mobile.................. */

@media (max-width:480px){
    #experience{
        height: fit-content;
        grid-template-rows: 0.1fr 0.2fr 1fr;
    }
    #experience>div:nth-child(2){
        grid-area:3/1;
        padding: 1rem;
        gap: 1rem;
    }

}
/*............Extra small devices.............. */

@media (min-width: 481px) and (max-width: 767px){
    #experience{
        height: fit-content;
        grid-template-rows: 0.1fr 0.2fr 1fr;
    }
    #experience>div:nth-child(2){
        grid-area:3/1;
        padding: 1rem;
        gap: 1rem;
    }
}
/* ............Tablet.................. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #experience{
        height: fit-content;
    }
}