#projects {
    display: grid;
    background-color: #bdcdd682;
    border-bottom: 1px solid #dcd9d9;

}
#projects>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem 0rem 2rem;

}
.heading{
    font-size: 2.5em;
    font-weight: 350;
}
hr{
    width: 80px;
    height: 1px;
    background-color: #3498db;
    border: none;
}
#projects>div:nth-child(2){
    width:95%;
    display: grid;
    margin: 0px auto 50px auto;
    grid-template-columns: repeat(3,1fr);

}
#projects>div:nth-child(2)>div{
    gap:0.3rem;
    border: 1px solid #dcd9d9;
    border-radius: 5px;
    margin: 15px 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #dcd9d9;

}


/* ...........................................media query ................................*/
/* ............Mobile.................. */
@media only screen and (max-width: 667px) {
    #projects {
        padding: 1rem;
    }
    #projects h2 {
        font-size: 2rem;
    }
    #projects>div:nth-child(2){
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    #projects>div:nth-child(2)>div{
        margin: 15px 10px;
    }
    #projects>div:nth-child(2)>div>img{
        width: 100%;
        
        object-fit: contain;
    }
}

@media only screen and (min-width: 668px) and (max-width: 991px) {
    #projects {
        padding: 1rem;
    }
    #projects h2 {
        font-size: 2rem;
    }
    #projects>div:nth-child(2){
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
    #projects>div:nth-child(2)>div{
        margin: 15px 10px;
    
    }
}
/* ............Large Tablets / Laptops .............. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #projects {
        padding: 1rem;
    }
    #projects h2 {
        font-size: 2rem;
    }
    #projects>div:nth-child(2){
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3,1fr);
    }
    #projects>div:nth-child(2)>div{
        margin: 15px 10px;
    
    }
}

