#experience{
    height:100vh;
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 1fr 0.4fr;
    background-color: #bdcdd682;
    border-bottom: 1px solid #dcd9d9;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#experience>div:nth-child(1){
    grid-row: 2/3;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:0.3rem;
}
#experience>div:nth-child(1)>hr{
    width: 70px;
    height: 2px;
    background-color: #3498db;
    border: none;
}
.heading{
    font-size: 2.5em;
    font-weight: 350;
}

#experience>div:nth-child(2){
    grid-row: 3/4;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db4c;
    border-bottom: 1px solid #dcd9d9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    gap: 1rem;
}